body {
	background-image: url(../img/fondoWEBdifuminado1920.png);
	background-size: cover; /* Escala la imagen para cubrir todo el fondo */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-position: center; /* Centra la imagen en el fondo */
	background-attachment: fixed; /* Fija la imagen en el fondo */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/*INICIO ENCABEZADO*/
header {
    transition: height 0.3s ease-in-out;
}

.header-pc {
    display: flex;
	align-items: center;
	background-color: #cfdfe6;
	width: 100%;
	opacity: 0.8;
}

.header-movil {
    display: none;
}

#logonav {
	margin-left: 2em;
}

#logo {
	max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#navegador {
	flex-grow: 1; /* Hace que el navegador ocupe el espacio restante */
	text-align: center;
}

#navegador ul {
	justify-content: center;
	list-style: none;
	display: inline-flex;
}

#navegador ul li {
	margin: 0 0.625em;
}

#navegador ul a {
	text-decoration: none;
	color: #3375b1;
	font-size: 1.5em;
	position: relative;
	transition: color 0.3s ease-in-out;
	padding: 0.3em
}

#navegador ul a:hover {
	color: #26beff;
}

#navegador ul a.active {
	background-color: white;
	border-radius: 0.2em;
	transition: 0.5s;
}

#navegador ul a.active:hover {
	color: #3375b1;
}

.menu-icon {
    display: none;
    text-align: right;
    margin-right: 1em;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.login-button {
    background-color: #3375b1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    box-shadow: none;
    border: none;
    margin-right: 3em;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #5786C3;
}

.login-button a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 2em;
}

.welcome-msg {
    font-size: 1.1em;
    font-weight: bold;
    color: #3375b1;
    margin-right: 0.8em;
}

.dropdown-btn {
    background: none;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    color: #3375b1
}

.dropdown-content {
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5em;
    padding: 0.5em 0;
    opacity: 0;
    transform: translateY(-0.8em);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown-content a {
    color: black;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown.active .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.dropdown .fa-chevron-down {
    transition: transform 0.3s ease;
}

.dropdown-movil {
    position: relative;
    display: inline-block;
}

.dropdown-movil span, .dropdown-movil button {
    font-weight: bold;
}

.dropdown-btn-movil {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-left: 0.3125em;
    color: #3375b1;
    transition: transform 0.3s ease;
}

.dropdown-movil.active .dropdown-btn-movil {
    transform: rotate(180deg);
}

.dropdown-content-movil {
    visibility: hidden;
    opacity: 0;
    min-width: 9.375em;
    z-index: 1;
    margin-top: 0.3125em;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-0.625em);
}

.dropdown-content-movil a {
    color: black;
    padding: 0.625em 0.9375em;
    text-decoration: none;
    display: block;
}

.dropdown-content-movil a:hover {
    background-color: #f1f1f1;
}

.dropdown-movil.active .dropdown-content-movil {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.header-movil.expanded {
    height: 40rem !important;
    transition: height 0.3s ease;
}

/*FIN ENCABEZADO*/


main {
	flex: 1; /* Hace que el main ocupe el espacio disponible */
}

/*CONTENIDO DE INICIO*/

#intro {
	display: flex;
	margin: 5em 0.2em;
	background-color: rgb(242, 235, 195, 0.5);
	border-radius: 0.3em;
	padding: 2em;
}


#txt {
	color: white;
}


#noticias {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.noticia {
	display: flex;
	flex-direction: column;
	width: 25%;
	border-radius: 0.625em;
	overflow: hidden;
	background-color: white;
	margin: 1.25em auto;
}

.noticia img {
	height: auto;
	width: 100%;
}

.noticia-link {
	color: black;
	text-decoration: none;
}

.noticia-link:hover {
	text-decoration: underline;
}

.noticia-titulo {
	padding: 0.938em; /* Espaciado interno del título de la noticia */
}

#contact p {
	color: white;
	font-weight: bold;
}

/*FIN CONTENIDO DE INICIO*/


/*INICIO DE FOOTER*/
footer {
	background-color: #13427E;
	width: 100%;
	color: #fffcef;
}

.footer {
	display: flex;
	opacity: 0.8;
	align-items: center; /* Centra los elementos horizontalmente */
	gap: 0.5em;
	justify-content: space-between;
	padding: 0 1.2em;
}

.footer p {
	font-size: 1em;
	font-weight: bold;
}

.footer-title {
	font-size: 1.5em !important;
}

#logof {
	display: flex;
	align-items: center;
}

#logof img {
	max-width: 100%;
	height: auto; /* Mantiene la proporción del logo */
	width: 9.375em; /* Ajusta el tamaño inicial del logo */
}

#con {
	text-align: center;
}

#con i {
	font-size: 2em;
	margin: 0.5em;
}

#contacto {
	text-align: right;
}

#contacto a:active, #contacto a:visited, #contacto a:link {
	color: #fffcef;
	text-decoration: none;
	font-weight: normal;
}

#contacto span {
	font-weight: normal;
}

.fa-instagram, .fa-x-twitter, .fa-youtube {
	color: #fffcef;
	transition: color 0.3s ease-in-out;
}

.fa-instagram {
	transition: color 0.3s, background 0.3s, -webkit-mask-image 0.3s ease-in-out;
	-webkit-mask-image: none;
	mask-image: none;
}

.fa-instagram:hover {
	color: transparent;
  	background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
	-webkit-background-clip: text;
  	background-clip: text;
}

.fa-x-twitter:hover {
	color: black;
}

.fa-youtube:hover {
	color: #FF0000;
}

.copyright {
	text-align: center;
	color: #fffcef;
}

.copyright p {
    margin-top: 0;
}

/*FIN FOOTER*/


/* INICIO DE CLASIFICACIÓN */

.contenedor-clasificacion {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: white;
    padding: 1.25em;
}

.contenedor-clasificacion h1 {
    margin-left: 2em;
}

.contenedor-clasificacion p {
    text-align: center;
}

.clasificacion-contenido {
    overflow: auto;
    width: 80%;
    margin: 0 auto;
}

.clasificacion-contenido table {
    width: 100%;
    border-collapse: separate;
    margin-top: 1em;
    border-radius: 1em;
    overflow: hidden;
}

.clasificacion-contenido th, td {
    padding: 1em;
    text-align: center;
}

.clasificacion-contenido th {
    background-color: #333;
    color: white;
}

.clasificacion-contenido tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #333;
}

.clasificacion-contenido tr:nth-child(odd) {
    background-color: #e4e3e3;
    color: #333;
}

.clasificacion-contenido tr:nth-child(even):hover {
    background-color: #ddd;
}

.clasificacion-contenido tr:nth-child(odd):hover {
    background-color: #cacaca;
}

.clasificacion-equipo {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.enlace-clasificacion {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

.clasificacion-equipo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.clasificacion-logo {
    height: 3em;
    object-fit: cover;
    margin-right: 1em;
}

/* FIN DE CLASIFICACIÓN */


/* INICIO DE EQUIPOS */

.contenedor-equipos {
	display: flex;
    flex-direction: column;
	gap: 1.5em;
    color: white;
    padding: 1.25em;
}

.temporada-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.temporada-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.temporada-header label {
    font-size: 1.125em;
}

.temporada-select {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    color: #3375b1;
    font-size: 1.25em;
}

.temporada-select form {
    margin-bottom: auto;
}

#temporadaSelect, #jornadaSelect  {
    padding: 0.625em;
    background-color: #fff;
    border: 0.125em solid #333;
    border-radius: 0.3125em;
    margin-left: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#temporadaSelect {
    font-size: 0.6em;
}

#jornadaSelect {
    margin-bottom: 1.25em;
    font-size: 1em;
}

#temporadaSelect:hover, #temporadaSelect:focus, #jornadaSelect:hover, #jornadaSelect:focus {
    background-color: #f0f0f0;
}

.equipos {
    display: flex;
	flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
	color: #5f5f5f;
	width: 70%;
    margin: 0 auto;
}

.equipos p {
	color: white;
}

.equipo {
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 0.625em;
	width: 15em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.equipo:hover {
    transform: scale(1.1);
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.2);
}

.logo {
    height: 6.25em;
    margin-bottom: 0.625em;
    object-fit: cover;
    transition: transform 0.3s;
}

.logo:hover {
    transform: rotate(360deg);
}

.enlace-equipo {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

.equipo strong {
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
	white-space: nowrap;
}

.detalles-equipo {
    display: none;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    transition: all 0.3s;
    color: #5f5f5f;
}

.equipo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.equipo-header h1 {
    color: #424242;
}

.equipo-logo {
    display: flex
;
    align-items: center;
}

.equipo-logo img {
    width: 8em;
    height: 8em;
    object-fit: cover;
    margin-right: 2em;
}

.equipo-info {
    margin-right: 2em;
}

.equipo-info p {
    font-size: 1.125em;
    margin: 0.5em 0;
}

.equipo-info strong {
    color: #424242;
}

.jugadores h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    color: #424242;
}

.jugadores-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    width: 80%;
    margin: 0 auto;
}

.jugador {
    text-align: center;
    min-width: 10em;
    color: #5f5f5f;
}

.jugador-foto {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.jugador-info {
    font-size: 1.1em;
}

.jugador-info p {
    margin: 0.2em 0;
}

.jugador-info strong {
    color: #424242;
}

/* FIN DE EQUIPOS */


/* INICIO DE CALENDARIO */

.contenedor-calendario {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: white;
    padding: 1.25em;
}

.temporada-jornada {
    display: flex;
    justify-content: space-between;
}

.temporada-selector, .jornada-selector {
    margin-bottom: 1.1em;
    text-align: right;
}

.partido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 1em 2em;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: #5f5f5f;
}

.partido a {
    text-decoration: none;
    color: inherit;
}

.partido img {
    width: 6em;
    height: 6em;
    object-fit: contain;
    margin-right: 0.8em;
}

.partido .calendario-equipo {
    flex: 1;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.partido strong {
    color: #424242;
}

.detalles-partido {
    width: 20%;
}

.partido-equipos {
    font-size: 1.2em;
}

.calendario-equipos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

/* FIN DE CALENDARIO */


/* INICIO DE CONTACTO */

.contacto {
    display: flex;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: #5f5f5f;
    width: 40%;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}

.contacto h1 {
    margin-bottom: 1.2em;
}

.contacto form {
    padding: 1.3em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25em;
	margin-bottom: 1.5em;
}

.contacto label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.contacto input, .contacto textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 0.125em solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    background-color: #eee;
}

.contacto textarea {
    resize: vertical;
    height: 8em;
}

.contacto button {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

.contacto button:hover {
    background:#5786C3;
}

/* FIN DE CONTACTO */


/* INICIO DE LOGIN */

.login {
    display: flex;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: #5f5f5f;
    width: 40%;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}

.login h1 {
    margin-bottom: 1.2em;
}

.login form {
    padding: 1.3em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25em;
	margin-bottom: 1.5em;
}

.login label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.login input{
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 0.125em solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    background-color: #eee;
}

.login button {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

.login button:hover {
    background:#5786C3;
}

/* FIN DE LOGIN */

/* INICIO DE REGISTRO */

.registro {
    display: flex;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: #5f5f5f;
    width: 40%;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}

.registro h1 {
    margin-bottom: 1.2em;
}

.registro form {
    padding: 1.3em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25em;
	margin-bottom: 1.5em;
}

.registro label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.registro input {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 0.125em solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    background-color: #eee;
}

.registro select {
    width: 100%;
    padding: 0.625em;
    font-size: 1em;
    background-color: #fff;
    border: 0.125em solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registro button {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

.registro button:hover {
    background:#5786C3;
}

/* FIN DE REGISTRO */

/* INICIO DE PERFIL */

.perfil, .perfil-admin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3em;
    border: 0.125em solid #5f5f5f;
    border-radius: 0.5em;
    background-color: #fffcefad;
    padding: 2em;
    box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: #5f5f5f;
    margin: 2em auto;
    max-width: 100em;
}

.perfil {
    width: 30%;
}

.perfil-admin {
    width: 70%;
}

.perfil h1, .perfil-admin h1 {
    margin-bottom: 0;
    width: 100%;
}

.perfil form, .perfil-admin form {
    padding: 1.6em;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.1);
}

.perfil label, .perfil-admin label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.perfil input, .perfil select, .perfil-admin input, .perfil-admin select {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 0.125em solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    background-color: #eee;
}

.perfil input[type="submit"], .perfil-admin input[type="submit"] {
    background:  #13427E;
    color: #fff;
    border: none;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s ease-in-out;
}

.perfil input[type="submit"]:hover, .perfil-admin input[type="submit"]:hover {
    background:#5786C3;
}

.perfil-usuarios, .perfil-modificar-datos {
    flex: 1;
    width: inherit;
    margin-top: 0;
}

.boton-centrado {
    display: flex;
    justify-content: flex-end;
    margin: 1.5em 0;
}

.new-user-button {
    background-color: #13427E;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    box-shadow: none;
    border: none;
    text-align: center;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.new-user-button:hover {
    background-color: #5786C3;
}

.new-user-button a {
    text-decoration: none;
    color: white;
}

.tabla-contenedor {
    max-height: 20em;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 0.5em;
}

.usuarios-tabla {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    text-align: left;
}

.usuarios-tabla th, .usuarios-tabla td {
    padding: 1em;
    text-align: center;
}

.usuarios-tabla thead, .usuarios-tabla th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1; 
}

.usuarios-tabla tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #333;
}

.usuarios-tabla tr:nth-child(odd) {
    background-color: #e4e3e3;
    color: #333;
}

.usuarios-tabla tr:nth-child(even):hover {
    background-color: #ddd;
}

.usuarios-tabla tr:nth-child(odd):hover {
    background-color: #cacaca;
}

/* FIN DE PERFIL */


/* MENSAJES DE SUCCESS Y ERROR */

#error-message {
    color: red;
    font-weight: bold;
}

/* MENSAJES DE SUCCESS Y ERROR */